.card-container {
  display: flex;
  margin: 10px;
  width: 130px;
  height: 150px;
  cursor: pointer;

  .front {
    background: whitesmoke;
    transform: perspective(600px) rotateY(0deg);

    .card-content {
      padding: 10px;
      font-size: 30px;
    }
  }

  .back {
    background: white;
    transform: perspective(600px) rotateY(-180deg);
    transition: 1s;

    .logo-content {
      height: 30px;
    }
  }

  .back:hover {
    box-shadow: 0px 0px 5px 3px lightgrey;
  }

  .front,
  .back {
    border: 1px solid black;
    border-radius: 8px;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform 0.3s linear;
    height: inherit;
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.card.rotated > .back {
  transform: perspective(600px) rotateY(0deg);
}

.card.rotated > .front {
  transform: perspective(600px) rotateY(180deg);
}
